accelerate==0.26.1
googletrans==4.0.0rc1
huggingface-hub==0.20.3
requests==2.31.0
threaded==4.2.0
tokenizers==0.15.1
torch==2.1.2
tqdm==4.66.1
transformers==4.37.1
faiss-cpu==1.7.4
langchain==0.0.349
openai==0.27.7
pypdfium2==4.18.0
tiktoken==0.4.0
langchain-core==0.0.13
sentence_transformers
python-jose==3.3.0
fastapi
uvicorn
passlib
python-multipart